<h2 class="page-header">Profile Groups  <%= @group.name %></h2>

<style>
  tr, td, pre
  {
    height:60px;
    max-height:60px;
  }
</style>

<script>
$(function(){
    $('tr pre').click(function(){
       var height = '400px';

      if($(this).height() > 300){
        height = '60px';
      }

      $(this).animate({ 'height': height, 'max-height': height });
    })
});
</script>

<div class="row">
  <%= erb :_groups, {}, { groups: [@group] } %>
  <%= erb :_profiles, {}, { profiles: @group.profiles } %>
</div>
