<h2 class="page-header">Profile search  <%= @collection_name %></h2>

<style>
  tr, td, pre
  {
    height:60px;
    max-height:60px;
  }
</style>

<div class="row">
  <%= erb :_profiles, {}, { profiles: @profiles } %>
</div>
