<div class="row">
  <% if MongoProfiler.enabled? %>
    <form action="/profiler/disable" method="post">
      <button class="btn btn-warning">Disable Profiler</button>
    </form>
  <% else %>
    <form action="/profiler/enable" method="post">
      <button class="btn btn-primary">Enable Profiler</button>
    </form>
  <% end %>

  <h2>Profiler Collections<h2>

  <div class="col-md-6">
    <h4>mongo_profiler</h4>
    <pre><code><%= @collection_profiler_stats %></code></pre>
  </div>

  <div class="col-md-6">
    <h4>mongo_profiler_config</h4>
    <pre><code><%= @collection_config_stats %></code></pre>
  </div>
</div>
<script>
$(function() {
    $('pre code').each(function(i, e) { hljs.highlightBlock(e) });
});
</script>
